---
layout: default
---
<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </div>
      <div class="carousel-item green white-text" href="{{ post.url | prepend: site.baseurl }}">
        <header>
          <h2>{{ post.title }}</h2>
          {{ post.date | date: "%B %-d, %Y" }}
        </header>
        <p class="white-text">{{ post.excerpt }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <br>
  <div class="pagination center white-text">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn" >
      {{ site.theme_settings.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn" >
      {{ site.theme_settings.str_next }}
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
